.end {
  width: 100%;
  margin-top: 7rem;
  height: 100%;
  @include layout(column);
  .contact-wrap {
    color: var(--color-blacktxt);
    width: 90%;
    margin: 2rem auto;
    background-color: var(--color-subbg);
    @include box-shadow();
    padding: 2rem 3.5rem;
    h1 {
      font-size: 1.3rem;
      line-height: 1.3;
      margin-bottom: 1rem;
      text-align: left;
    }
    .contact-info {
      @include layout(column);
      align-items: flex-start;
      gap: 0.3rem;
      p {
        font-size: 1rem;
        text-align: left;
      }
    }
    .contact-link {
      @include layout(row, center);
      gap: 1.5rem;
      .git {
        @include btn();
        margin-top: 2.5rem;
      }
      .insta,
      .kakao,
      .line {
        width: 40px;
        height: 40px;
        margin-top: 2.5rem;
        img {
          width: 40px;
          height: 40px;
          border-radius: 8px;
        }
        transition: all 0.3s;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

//테블릿 버전
@include tablet {
  .end {
    .contact-wrap {
      padding: 3rem 7rem;
      h1 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 1rem;
        text-align: center;
      }
      .contact-info {
        align-items: center;
        gap: 0.7rem;
        p {
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }
}

//데스크탑 버전
@include desktop {
  .end {
    .contact-wrap {
      width: 50%;
      padding: 4rem 7rem;
      h1 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
      .contact-info {
        gap: 0.7rem;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.copyrighter {
  @include layout(column);
  margin-top: 10rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--color-blacktxt);
  width: 100%;
  height: 50%;
  background-color: var(--color-primary);
  gap: 0.5rem;
  @include box-shadow(var(--color-primary-line));
}

.qr-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.qr-modal img {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}
