#menu-wrap {
  font-family: "SUIT";
  @include layout(row, space-between, center);
  position: fixed;
  height: 70px;
  top: 0;
  padding: 1.5rem;
  font-size: 1.2rem;
  z-index: 10;
  min-width: 330px;
  width: 100%;

  .home-btn {
    font-weight: 900;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: var(--color-secondary);
    }
  }
  .open-menu {
    @include menu-btn;
  }
  .tablet-menu {
    .menu-list {
      ul {
        @include layout(row, center, center);
        gap: 1rem;
        li {
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: var(--color-teriary);
          }
        }
      }
    }
  }
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  .mobile-menu {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-blacktxt);
    background-color: var(--color-subbg);
    padding: 3rem;
    min-width: 330px;
    height: 350px;
    .menu-list {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      li {
        margin-top: 1.5rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: var(--color-teriary);
          scale: 1.1;
        }
      }
    }
    .close-btn {
      @include menu-btn;
      position: absolute;
      top: 1.1rem;
      right: 1.5rem;
    }
  }
}

//헤더 스크롤 시 색 반전
#menu-wrap.scrolled {
  backdrop-filter: blur(8px);
  background-color: var(--color-subbg);
  color: var(--color-blacktxt);
}

/* 내부 버튼/링크 색상도 함께 바꿔주기 */
#menu-wrap.scrolled .home-btn,
#menu-wrap.scrolled .tablet-menu ul li,
#menu-wrap.scrolled .open-menu {
  color: #222222;
}
@include tablet {
  #menu-wrap {
    @include layout(row, space-around, center);
    .home-btn {
      font-size: 2rem;
    }
    .tablet-menu {
      .menu-list {
        ul {
          @include layout(row, center, center);
          gap: 2.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
