.scroll-buttons {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  z-index: 10;
  .top-btn,
  .bottom-btn {
    background: var(--color-secondary);
    color: var(--color-blacktxt);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    @include box-shadow(var(--color-secondary-line));
    &:hover {
      background: var(--color-secondary-line);
      transform: scale(1.1);
      color: var(--color-maintxt);
    }
  }
}
